<nav class="navbar navbar-expand-lg navbar-light bg-light py-4 px-3">

  <a class="navbar-brand" href="/">Pel·lícules</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/movies">Llistat de Pel·lícules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/movies/inserir">Afegir Pel·lícula</a>
      </li>
    </ul>
  </div>

</nav>