<!DOCTYPE html>
<html>
    <head>
    
    </head>
    <body>
        <div class="container">
            <h1>Llistat de pel·lícules</h1>
            <div>
                <ul>
                    {% for movie in movies %}
                        <li> {{ movie.title }} </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>